 <div class="menu">
  </div>

<%= form_with(url: search_taxis_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :title, placeholder: "タイトルで検索", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

      <div class="font-log">
        <div>
          <a> ・御観覧有り難うございます。</a>
        </div>
        <div>
          <a>・一緒に頑張りましょう。</a>
        </div>
        <div>
          <a>・ポートフォリオ待ってます。</a>
        </div>
      </div>
  
      <div class="coment-size">
      <div>
      <h3 class="coment-center">御観覧有り難うございます。製作者のプロフォールも御座います。<h3>
        <div class="main-prof-btn">
      <h1 class="prof-toko-btn"><%= link_to "プロフィール", profiles_path %></h1>
  </div>
            <div>
      <p>--------------------------------------------------------------------------</p>
            <div>
      <h3 class="coment-center">最新のポートフォリオ一覧<h3>
      </div>
      </div>
      </div>
    </div>
</body>

<div class="contents row">
  <% @taxis.each do |taxi| %>
 <%= render partial: "taxi-main", locals: { taxi: taxi } %>
  <% end %>
</div>
